*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #B1B2C9;
}

.cuerpocolor{
    background-color: white;
}

header{
    background-color: #313240;
    color:  #B1B2C9;
    text-align: center;
    padding: 30px;
}
header h1{
    padding: 20px;
    color: white;
    font-size: 35pt;
}

header h2{
    padding: 20px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.caja{
    border-radius: 20px;
    width: 400px;
    height: 500px;
    margin: 20px;
    background-color: white;
    text-align: center;
    
}


.caja img{
   width: 100%;
    padding: 20px;
}

.caja p{
    padding: 20px;
    line-height: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 15pt;
    border: 0px;
}

.btn1{
    background-color: rgb(49, 49, 223);
}

.btn:hover{
    background-color: lightcoral;
    transition: all 0.5s;
}

.sliderrr{
  width: 50%;
  margin-top: 20px;
}

.card{
  width: 300px;
  height: 500px;
  margin: 20px;
}
.listas{
  list-style: none;
  background: none;
  border: none;
}

.titulo{
    width: 100%;
    text-align: center;
}

.logo{
    width: 400px;
}

.logo2{
    width: 200px;
}
.imagenlogo{
    width: 100%;
}

.miniatura{
    width: 45%;
    margin: 0 auto;
}

.miniatura:hover{
    width: 60%;
    transition: 0.5s;
}

.table{
    width: 1200px;
}

.figuritas{
    width: 50%;
}

.azul{
    background-color: grey;
    color: black;
}

.tablaperfil{
    width: 100%;
}


@media (max-width:575px) {
    .dos{
       display: none;
    }
    .tres{
        display: none;
     }
     .cuatro{
        display: none;
     }

     .logo{
         width: 200px;
         margin: 0 auto;
     }

     .logo2{
         display: none;
     }
    
     .table{
        width: 350px;
    }
    .largo{
        display: none;
    }

    .descripcion{
        display: none;
    }
}



@media (min-width:576px) and (max-width:1080px) {
    .tres{
        display: none;
     }
     .cuatro{
        display: none;
     }

     .table{
        width: 700px;
    }
    .abreviado{
        display: none;
    }
}

@media (min-width:1080px) {
    .abreviado{
        display: none;
    }
}



#form {
    width: 250px;
    margin: 0 auto;
    height: 100px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }




  .descripcion{
      width: 50%;
      margin: 0 auto;
  }